html{
	background-color: #1ca6e1;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 18px;
	margin-left: 20px;
	margin-right: 20px;	
}

h1, h2, h3, h4, h5, h6{
	color: #dcdc2a;
}

input, select {
	font-family: 'Trebuchet MS', sans-serif;
	color: #000000;
	font-size: 16px;
}

table, td{
	border-collapse: collapse;
	border: 0px;
	padding: 5px;
}

th{
	background-color: #594c99;
	color: #f0ec0e;
	padding: 7px;
}

.bordered td{
	border: 1px solid #000000;	
}

.error{
	color: #ff0000;
}

.box {
	border: 1px solid #000000;
}

.small-italic{
	font-size: 16px;
	font-style: italic;
}