<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="/css/style.css">
	<meta charset="UTF-8">
	<title>Rate My Professor - New Rating</title>
</head>

<body>
	<h2>Rate My Professor - Input Form</h2>
	<p>Please fill the rating form:</p>
	<form action="/ratemyprofessor/add" method="post" th:object="${professor}">
		<table>
			<tr>
				<td>First Name:</td>
				<td><input type="text" th:field="*{firstName}"></td>
				<td th:errors="*{firstName}" class="error"></td>
			</tr>

			<tr>
				<td>Last Name:</td>
				<td><input type="text" th:field="*{lastName}"></td>
				<td th:errors="*{lastName}" class="error"></td>
			</tr>

			<tr>
				<td>Date of Birth:</td>
				<td><input type="text" th:field="*{dateOfBirth}"></td>
				<td th:errors="*{dateOfBirth}" class="error"></td>
			</tr>

            <tr>
				<td>Rating:</td>
				<td><input type="number" th:field="*{rating}"></td>
				<td th:errors="*{rating}" class="error"></td>
			</tr>

            <tr>
				<td>Department:</td>
				<td><input type="text" th:field="*{department}"></td>
				<td th:errors="*{department}" class="error"></td>
			</tr>

            <tr>
				<td>Comments:</td>
				<td> <textarea th:field="*{comments}"></textarea></td>
			</tr>

			<tr>
				<td colspan="3"><input type="submit" value="Save"></td>
			</tr>
		</table>
	</form>
</body>

</html>